<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    @*TODO : swap out bootstrap for tailwind (already installed via NPM as POST-CSS process)*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@700&display=swap">
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">

    @RenderSection("head", required: false)
</head>

<body>
    <nav class="">
        <div class="">
            <a class="" href="~/">NatesCode</a>
            <button class="nc-button" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    @foreach (var item in (await WebApp.Site.Sitemap.ForUserAsync(User, Auth)).Where(i => !i.IsHidden))
                    {
                    <li class="nav-item@(item.Id == WebApp.PageId || item.HasChild(WebApp.PageId) ? " active" : "")">
                        <a class="nav-link" href="@WebApp.Url(item)">@item.MenuTitle</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
</body>
</html>
